.footer{
    border-top: 1px solid lightgray;
    padding:20px;
    background-color: rgb(62, 59, 59);
    text-align: center;
    color:white;
}

.footer >p {
    padding:5px;
    font-size:14px;
}